<h1>A Resolver App</h1>
<ul>
    <li><%= link_to 'Alumnos', students_path %></li>
    <li><%= link_to 'Tutores', tutors_path %></li>
    <li><%= link_to 'Tutorias', tutorings_path %></li>
    <li><%= link_to 'Representantes', parents_path %></li>
	<li><%= link_to 'Pagos', payments_path %></li>
</ul>

